@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Open+Sans:wght@400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --dark: #333333;
  --dark-gray: #666666;
  --gray: #888888;
  --gray2: #cccccc;
  --gray3: #aaaaaa;
  --purple: #5805cc;
  --color-lite: hsl(205, 54%, 92%);
  --color-dark: #2d3250;
  --link-hover: #8c6a02;
  --footer-hover: rgb(211, 157, 58);

  --green: hsl(93, 86%, 51%);
  --orange: hsl(41, 98%, 57%);
  --red: hsl(0, 97%, 75%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: var(--dark);
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-dark);
  font-family: 'Lora', serif;
  letter-spacing: 0.25rem;
  font-weight: 400;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  padding: 1.5rem 0;
}

// hr {
//   margin: 3rem 0;
// }

.container {
  width: 87%;
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  color: var(--color-dark);
  font-family: 'Dancing Script', Segoe script, cursive;
  font-weight: 600;
  letter-spacing: 0.125em;
  font-size: 2rem;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  padding: 0.25em 0.5em;
  border: 1px solid transparent;
}

// Nav items
.nav-item {
  margin: 1em 0;
}

.nav-link,
.nav-link:visited {
  color: var(--dark);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border: 1px solid transparent;

  transition: 400ms ease;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--link-hover);
  outline: none;
  border: 1px solid var(--link-hover);
}

.gray {
  background-color: #e0e7ef;
}

@media (min-width: 1300px) {
  header {
    background-color: var(--white);
  }

  .container {
    width: 80%;
    max-width: 1100px;
  }

  .nav-menu {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    width: auto;
  }

  .hamburger {
    display: none;
  }

}